// Layout elements mixins.
@mixin container() {
  padding: 0 $site-padding;

  & > * {
    margin: auto -$site-padding;
  }
}
@mixin contained() {
  padding-left: $site-padding;
  padding-right: $site-padding;
}
@mixin out() {
  margin-left: -$site-padding;
  margin-right: -$site-padding;
}

// Text elements mixins.
@mixin title($size: 1, $font-family: $heading-font-family, $font-weight: 700, $margin: 0) {
  font-family: $font-family;
  font-weight: $font-weight;
  line-height: 1.2;
  margin: $margin;

  // Mobile font-size.
  @if map-has-key($sizes_mobile, $size) {
    font-size: #{map-get($sizes_mobile, $size)};
  }
  @else {
    font-size: 1em;
  }
  // Desktop font-size.
  @include bk('medium') {
    font-size: #{map-get($sizes_desktop, $size)};
  }
}
@mixin fixed {
  font-family: $fixed-font-family;
  font-size: $fixed-font-size;
  line-height: $fixed-line-height;
}
@mixin bold {
  font-family: europa-bold, sans-serif;
}
@mixin link {
  color: $link-color;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}
@mixin button() {
  display: inline-block;
  position: relative;
  color: $text-color;
  text-transform: uppercase;
  text-decoration: none;
  padding: .25em .5em;

  &:hover {
    @include bold();
  }
}
@mixin category {
  letter-spacing: 2px;
  text-transform: uppercase;
  color: $grey;
  font-size: $h5-font-size-mobile;

  @include bk('medium') {
    font-size: $h6-font-size;
  }
}
